
.feat--business {
  --card-media: url("/saltware-prototype3/media/business/cover-data-ai.jpg?v=a584338e998f");
}
.hub-card--bu-cloud {
  --card-media: url("/saltware-prototype3/media/business/cover-cloud.jpg?v=a584338e998f");
}
.hub-card--bu-redhat {
  --card-media: url("/saltware-prototype3/media/business/cover-redhat.jpg?v=a584338e998f");
}
.hub-card--bu-databricks {
  --card-media: url("/saltware-prototype3/media/business/cover-databricks.jpg?v=a584338e998f");
}
.hub-card--bu-data-platform {
  --card-media: url("/saltware-prototype3/media/business/cover-data-platform.jpg?v=a584338e998f");
}
.hub-card--bu-identity {
  --card-media: url("/saltware-prototype3/media/business/cover-identity.jpg?v=a584338e998f");
}
.hub-card--bu-enview {
  --card-media: url("/saltware-prototype3/media/business/cover-enview.jpg?v=a584338e998f");
}
